# Each line is a file pattern followed by one or more owners.

# global
* @GurtejSohi @aaron-steinfeld @pavan-traceable @skjindal93 @singhalprerana @avinashkolluru @saxenakshitiz @anujgoyal1 @SrikarMannepalli @sunilgattupalle @surajpuvvada

# module specific owners
anomaly-config-service-registry/src/main/resources/modsec/crs @piyushroshan @soujanyanmbri
anomaly-config-service-impl/src @GurtejSohi @aaron-steinfeld @skjindal93 @singhalprerana @avinashkolluru @saxenakshitiz @SrikarMannepalli @RishabhB99
detection-exclusion-config-service-impl/src @singhalprerana @avinashkolluru @aaron-steinfeld @pavan-traceable @RishabhB99
rate-limiting-config-service-impl/src @singhalprerana @avinashkolluru @aaron-steinfeld @pavan-traceable @RishabhB99
custom-signature-config-service-impl/src @singhalprerana @avinashkolluru @aaron-steinfeld @pavan-traceable @RishabhB99
malicious-sources-config-service-impl/src @singhalprerana @avinashkolluru @aaron-steinfeld @pavan-traceable @RishabhB99
iprange-config-service-impl/src @singhalprerana @avinashkolluru @aaron-steinfeld @pavan-traceable @RishabhB99
region-config-service-impl/src @singhalprerana @avinashkolluru @aaron-steinfeld @pavan-traceable @RishabhB99
fraud-datamodel-config-service-api/src @sunilgattupalle @surajpuvvada @avinashkolluru @vinaysrini
fraud-datamodel-derivation-config-service-api/src @sunilgattupalle @surajpuvvada @avinashkolluru @vinaysrini
fraud-policy-config-service-api/src @sunilgattupalle @surajpuvvada @avinashkolluru @vinaysrini
fraud-datamodel-config-service-impl/src @sunilgattupalle @surajpuvvada @avinashkolluru @vinaysrini
fraud-datamodel-derivation-config-service-impl/src @sunilgattupalle @surajpuvvada @avinashkolluru @vinaysrini
fraud-policy-config-service-impl/src @sunilgattupalle @surajpuvvada @avinashkolluru @vinaysrini
traceable-policy-config-service-api/src @sunilgattupalle @surajpuvvada @avinashkolluru @singhalprerana @vinaysrini
traceable-policy-config-service-impl/src @sunilgattupalle @surajpuvvada @avinashkolluru @singhalprerana @vinaysrini
traceable-datamodel-config-service-api/src @sunilgattupalle @surajpuvvada @avinashkolluru @singhalprerana @vinaysrini
traceable-datamodel-config-service-impl/src @sunilgattupalle @surajpuvvada @avinashkolluru @singhalprerana @vinaysrini
traceable-edge-bot-config-service-api/src @sunilgattupalle @surajpuvvada @avinashkolluru @singhalprerana @vinaysrini
traceable-edge-bot-config-service-impl/src @sunilgattupalle @surajpuvvada @avinashkolluru @singhalprerana @vinaysrini
traceable-edge-decision-config-service-api/src @sunilgattupalle @surajpuvvada @avinashkolluru @singhalprerana @vinaysrini
traceable-edge-decision-config-service-impl/src @sunilgattupalle @surajpuvvada @avinashkolluru @singhalprerana @vinaysrini
traceable-edge-config-service-api/src @sunilgattupalle @surajpuvvada @avinashkolluru @singhalprerana @vinaysrini
traceable-edge-config-service-impl/src @sunilgattupalle @surajpuvvada @avinashkolluru @singhalprerana @vinaysrini
traceable-config-service-rest/src @sunilgattupalle @surajpuvvada @avinashkolluru @aaron-steinfeld @vinaysrini