# Each line is a file pattern followed by one or more owners.

# global
* @GurtejSohi @aaron-steinfeld @pavan-traceable @skjindal93 @singhalprerana @avinashkolluru @saxenakshitiz @anujgoyal1 @SrikarMannepalli @sunilgattupalle @surajpuvvada @RishabhB99 @varsha-abhinandan @shashank11p @tim-mwangi

# module specific owners
anomaly-config-service-registry/src/test/resources/modsec @sidharth-jain23 @singhalprerana
anomaly-config-service-registry/src/main/resources/modsec/crs @sidharth-jain23 @singhalprerana
anomaly-config-service-registry/src @GurtejSohi @aaron-steinfeld @skjindal93 @singhalprerana @avinashkolluru @saxenakshitiz @SrikarMannepalli @RishabhB99 @sidharth-jain23 @bhubam
anomaly-config-service-api/src @GurtejSohi @aaron-steinfeld @skjindal93 @singhalprerana @avinashkolluru @saxenakshitiz @SrikarMannepalli @RishabhB99 @sidharth-jain23 @bhubam
anomaly-config-service-impl/src @GurtejSohi @aaron-steinfeld @skjindal93 @singhalprerana @avinashkolluru @saxenakshitiz @SrikarMannepalli @RishabhB99 @sidharth-jain23 @bhubam
api-spec-config-service-api/src @sanket-mundra @rutvij-menavlikar @aman-bansal @suresh-prakash @skjindal93
api-spec-config-service-impl/src @sanket-mundra @rutvij-menavlikar @aman-bansal @suresh-prakash @skjindal93
detection-exclusion-config-service-impl/src @singhalprerana @avinashkolluru @aaron-steinfeld @pavan-traceable @RishabhB99 @bhubam
rate-limiting-config-service-impl/src @singhalprerana @avinashkolluru @aaron-steinfeld @pavan-traceable @RishabhB99 @saxenakshitiz
custom-signature-config-service-impl/src @singhalprerana @avinashkolluru @aaron-steinfeld @pavan-traceable @RishabhB99 @bhubam
malicious-sources-config-service-impl/src @singhalprerana @avinashkolluru @aaron-steinfeld @pavan-traceable @RishabhB99 @bhubam
iprange-config-service-impl/src @singhalprerana @avinashkolluru @aaron-steinfeld @pavan-traceable @RishabhB99 @bhubam
region-config-service-impl/src @singhalprerana @avinashkolluru @aaron-steinfeld @pavan-traceable @RishabhB99 @bhubam
fraud-datamodel-config-service-api/src @sunilgattupalle @surajpuvvada @avinashkolluru @vinaysrini @abhishek-yadav-tracable @varsha-abhinandan
fraud-datamodel-derivation-config-service-api/src @sunilgattupalle @surajpuvvada @avinashkolluru @vinaysrini @abhishek-yadav-tracable @varsha-abhinandan
fraud-policy-config-service-api/src @sunilgattupalle @surajpuvvada @avinashkolluru @vinaysrini @abhishek-yadav-tracable @varsha-abhinandan
fraud-datamodel-config-service-impl/src @sunilgattupalle @surajpuvvada @avinashkolluru @vinaysrini @abhishek-yadav-tracable @varsha-abhinandan
fraud-datamodel-derivation-config-service-impl/src @sunilgattupalle @surajpuvvada @avinashkolluru @vinaysrini @abhishek-yadav-tracable @varsha-abhinandan
fraud-policy-config-service-impl/src @sunilgattupalle @surajpuvvada @avinashkolluru @vinaysrini @abhishek-yadav-tracable @varsha-abhinandan
traceable-policy-config-service-api/src @sunilgattupalle @surajpuvvada @avinashkolluru @singhalprerana @vinaysrini
traceable-policy-config-service-impl/src @sunilgattupalle @surajpuvvada @avinashkolluru @singhalprerana @vinaysrini
traceable-datamodel-config-service-api/src @sunilgattupalle @surajpuvvada @avinashkolluru @singhalprerana @vinaysrini
traceable-datamodel-config-service-impl/src @sunilgattupalle @surajpuvvada @avinashkolluru @singhalprerana @vinaysrini
traceable-edge-bot-config-service-api/src @sunilgattupalle @surajpuvvada @avinashkolluru @singhalprerana @vinaysrini @abhishek-yadav-tracable
traceable-edge-bot-config-service-impl/src @sunilgattupalle @surajpuvvada @avinashkolluru @singhalprerana @vinaysrini @abhishek-yadav-tracable
traceable-edge-decision-config-service-api/src @sunilgattupalle @surajpuvvada @avinashkolluru @singhalprerana @vinaysrini @PrajwalKrishna @saxenakshitiz @RishabhB99 @abhishek-yadav-tracable
traceable-edge-decision-config-service-impl/src @sunilgattupalle @surajpuvvada @avinashkolluru @singhalprerana @vinaysrini @PrajwalKrishna @saxenakshitiz @RishabhB99 @abhishek-yadav-tracable
traceable-edge-config-service-api/src @sunilgattupalle @surajpuvvada @avinashkolluru @singhalprerana @vinaysrini @PrajwalKrishna @saxenakshitiz @RishabhB99 @abhishek-yadav-tracable
traceable-edge-config-service-impl/src @sunilgattupalle @surajpuvvada @avinashkolluru @singhalprerana @vinaysrini @PrajwalKrishna @saxenakshitiz @RishabhB99 @abhishek-yadav-tracable
traceable-config-service-rest/src @sunilgattupalle @surajpuvvada @avinashkolluru @aaron-steinfeld @vinaysrini
threat-scoring-config-service-impl/src/main/resources @piyushroshan @soujanyanmbri @singhalprerana @avinashkolluru
user-attribution-config-service-api/src @sanket-mundra @rutvij-menavlikar @saxenakshitiz @aaron-steinfeld
user-attribution-config-service-impl/src @sanket-mundra @rutvij-menavlikar @saxenakshitiz @aaron-steinfeld
azure-devops-integration-config-service-api/src @murari54 @Kunal-8789 @sanketkar24 @Gg-harness
azure-devops-integration-config-service-impl/src @murari54 @Kunal-8789 @sanketkar24 @Gg-harness
integration-config-service-api/src @murari54 @Kunal-8789 @sanketkar24 @Gg-harness
integration-config-service-impl/src @murari54 @Kunal-8789 @sanketkar24 @Gg-harness
servicenow-itsm-integration-config-service-api/src @murari54 @Kunal-8789 @sanketkar24 @Gg-harness
servicenow-itsm-integration-config-service-impl/src @murari54 @Kunal-8789 @sanketkar24 @Gg-harness
splunk-integration-config-service-api/src @murari54 @Kunal-8789 @sanketkar24 @Gg-harness
splunk-integration-config-service-impl/src @murari54 @Kunal-8789 @sanketkar24 @Gg-harness
syslog-integration-config-service-api/src @murari54 @Kunal-8789 @sanketkar24 @Gg-harness
syslog-integration-config-service-impl/src @murari54 @Kunal-8789 @sanketkar24 @Gg-harness
waf-provider-integration-service-api/src @murari54 @Kunal-8789 @sanketkar24 @Gg-harness
waf-provider-integration-service-impl/src @murari54 @Kunal-8789 @sanketkar24 @Gg-harness
jira-integration-config-service-api/src @murari54 @Kunal-8789 @sanketkar24 @Gg-harness
jira-integration-config-service-impl/src @murari54 @Kunal-8789 @sanketkar24 @Gg-harness
genai-system-discovery-config-service-api/src @aaron-steinfeld @skjindal93 @sanket-mundra @Vaibhav090420
genai-system-discovery-config-service-impl/src @aaron-steinfeld @skjindal93 @sanket-mundra @Vaibhav090420
genai-system-discovery-client/src @aaron-steinfeld @skjindal93 @sanket-mundra @Vaibhav090420
cloud-bot-deployment-config-service-api @singhalprerana @avinashkolluru @saxenakshitiz @bhubam @abhishek-yadav-tracable
cloud-bot-deployment-config-service-impl @avinashkolluru @saxenakshitiz @bhubam @abhishek-yadav-tracable
cloud-edge-deployment-config-service-impl @singhalprerana @avinashkolluru @saxenakshitiz @bhubam
certificate-management-config-service-api @singhalprerana @avinashkolluru @saxenakshitiz @bhubam
certificate-management-config-service-impl @singhalprerana @avinashkolluru @saxenakshitiz @bhubam
session-identification-config-service-api @singhalprerana @avinashkolluru @aaron-steinfeld @bhubam
session-identification-config-service-impl @singhalprerana @avinashkolluru @aaron-steinfeld @bhubam
threat-scoring-config-service-api @singhalprerana @avinashkolluru @bhubam
threat-scoring-config-service-impl @singhalprerana @avinashkolluru @bhubam
data-protection-config-service-api @singhalprerana @avinashkolluru @bhubam
data-protection-config-service-impl @singhalprerana @avinashkolluru @bhubam
threat-management-config-service-api @singhalprerana @avinashkolluru @bhubam
threat-scoring-config-service-impl @singhalprerana @avinashkolluru @bhubam
attribute-resolution-config-service-api @aman-bansal @sanket-mundra @Vaibhav090420
attribute-resolution-config-service-impl @aman-bansal @sanket-mundra @Vaibhav090420
attribute-resolution-config-client @aman-bansal @sanket-mundra @Vaibhav090420
agent-action-config-service-api @shashank11p @tim-mwangi @varkey98
agent-action-config-service-impl @shashank11p @tim-mwangi @varkey98
external-agent-action-config-service-api @shashank11p @tim-mwangi @varkey98
external-agent-action-config-service-impl @shashank11p @tim-mwangi @varkey98
external-agent-attribute-config-service-api @shashank11p @tim-mwangi
external-agent-attribute-config-service-impl @shashank11p @tim-mwangi
external-data-classification-config-service-api @shashank11p @tim-mwangi
external-data-classification-config-service-impl @shashank11p @tim-mwangi
ip-resolution-strategy-config-service-api @shashank11p @tim-mwangi @prodion23 @varkey98
ip-resolution-strategy-config-service-impl @shashank11p @tim-mwangi @prodion23 @varkey98
local-processing-config-service-api @shashank11p @tim-mwangi @varkey98
local-processing-config-service-impl @shashank11p @tim-mwangi @varkey98
data-obfuscation-config-service-api @shashank11p @tim-mwangi @varkey98
data-obfuscation-config-service-impl @shashank11p @tim-mwangi @varkey98
application-grouping-config-service-api @suresh-prakash @singh-viikram @ohiduz
application-grouping-config-service-impl @suresh-prakash @singh-viikram @ohiduz
saved-filter-config-service-api @suresh-prakash @singh-viikram
saved-filter-config-service-impl @suresh-prakash @singh-viikram
saved-filter-config-service-caching-client @suresh-prakash @singh-viikram
vulnerability-config-service-api @suresh-prakash @singh-viikram
vulnerability-config-service-impl @suresh-prakash @singh-viikram

# No owners for lock changes
**/gradle.lockfile
